.cookie_container {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #000;
}
.cookie_header{
    font-size: 30px;
    margin-bottom: 15px;
}
.cookie_text{
    color: #a33a02;
    font-size: 20px;
    margin-bottom: 20px;
}
.img_btn_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.cookie_image {
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: all 0.1s ease;
}
.cookie_image:active {
    transform: scale(0.95);
    filter: brightness(0.95);
}
.count{
    color: #004a63;
    font-size: 22px;
    font-weight: 700;
}
.count span {
    color: #24b200;
}
.reset_btn{
    border: 1px solid #fff;
    color: #ffffff;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #004a63;
    transition: background-color 0.3s ease-in-out;
}
.reset_btn:hover {
    background-color: #930000;
}
