.facts_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 80%;
    margin: 0 auto;
    background-color: #ffffff7b;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px 20px;
}
.facts_header {
    font-size: 28px;
    font-weight: 700;
}
.list_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-position: inside;
    margin-left: 15px;
}
.list_item {
    list-style: decimal;
    padding-left: 10px;
    text-align: left;
    font-style: italic;
}
.list_item::marker {
    color: #ff0000;
    font-size: 18px;
    font-weight: 700;
}